.small-card-container{
  margin-bottom: 1.5rem;
}
.small-card-img img{
  width: 100%;
  max-height: 120px;
  border-radius: 9px;
  background-position: center;
  background-size: cover;
}
.small-card-date{
  font-size: .5rem;
  color: gray;
  padding-top: .5rem;
}
.small-card-title {
  padding-top: .5rem ;
}
.small-card-title a{
  text-decoration: none;
  color: black;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}
.small-card-description a{
  margin-top: .4rem;
  text-decoration: none;
  color: gray;
  font-size: .7rem;
  color: gray;
  margin-bottom: 1rem;
}


