@media screen and (min-Width:320px) and (max-width:720px){
  .small-card-container{
    margin: 1rem 0;
  }
  .small-card-title {
    padding-top: .5rem ;
    font-size: .8rem;
  }
  .small-card-date span{
    font-size: .5rem;
  }
}



