<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">





<div class="content-container">

  <div class="content-photo">

    <img src="{{photoCover}}" alt="">

  </div>

  <div class="content-title">

    <h1> {{cardTitle}}</h1>

    <hr>

    </div>

  <div class="content-post-info">
    <div class="content-post-date">

      <span>{{timeOfPost}}</span>

    </div>

    <div class="content-post-user">

      <span>{{userCreator}}</span>

    </div>
  </div>

<div class="content-description">

  {{cardDescription}}

</div>
</div>
