<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<div class="container-articles">

<div class="articles-main">
  <bigcard
          id="1"
           photoCover= "https://www.shutterstock.com/image-photo/darth-vader-600w-2527536349.jpg"
           cardTitle="Darth Vader invade o Brasil!"
           cardDescription="Após um longo periodo de sofrimento, o pais se revolta e elege Darth vader seu novo soberano.Implementando o projeto, estrela da morte no pais. Ele promete dominar o mundo! "
           userCreator="By - Vovo Wesley"
           timeOfPost="- 59 minutes ago"
  ></bigcard>
</div>
<div class="articles-others">
  <smallcard
           id="2"
           photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl90e8nWNhiExK0yzxnKIYZ4oNDGlKfJcETA&s"
           timeOfPost="10 hours ago"
           cardTitle="R2-D2 Resolve tirar ferias em marte."
           cardDescription="R2 D2 foi visto nas proximidades de marte. Fotografias mostram um passeio pelo rochoso vermelho."
  ></smallcard>
  <smallcard
           id="3"
           photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBnvrfmPJheWU0uMmYq33uf70AabSnFggpaA&s"
           timeOfPost="7 hours ago"
           cardTitle="Chewbacca alega ter sido confundido com um pé Grande! "
           cardDescription="Chewbacca estava passeando no parking e diz ter sido confundido com um pé grande por uma senhora que alimentava pombos."
  ></smallcard>
  <smallcard
           id="4"
           photoCover="https://outsmarted.com/cdn/shop/files/Star_wars.jpg?v=1723497533"
           timeOfPost=" 4 hours ago"
           cardTitle="Diretor de projetos da Disney deixa vazar novo lançamento!"
           cardDescription="Na tarde de hoje, o diretor de projetos da disney, deixou vazar o lançamento de seu mais novo projeto. Estaria vindo um novo lançamento de star wars?"
  ></smallcard>
  <smallcard
           id="5"
           photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWr8q4qO0wSUSKryMcBy5HDYv45eYEcUM73Q&s"
           timeOfPost="7 minuts ago"
           cardTitle="Luck Skywalker anuncia sua aposentadoaria em um pod-cast."
           cardDescription=" No dia 17 de Janeiro de 2078, Luck Skywalker diz estar velho de mais. E que erá se aposentar em breve."
  ></smallcard>

</div>
</div>

