<div class="menu-bar-container">
  <ul class="menu-bar-main">
    <li class="li-item-1"><a [routerLink]="['']">Blog.Dev</a></li>
    <li class="li-item-2"><a href="https://github.com/danHamash?tab=repositories" target="_blank">Github</a></li>
    <li class="li-item-3"><a href="https://www.instagram.com/c.daniel_hms/?next=%2F" target="_blank">instagram</a></li>
    <li class="li-item-4"><a href="https://www.linkedin.com/in/carloos-daniel-48bb0b325" target="_blank">Linkedin</a></li>

  </ul>

</div>

