@media screen and (min-Width:320px) and (max-width:720px){
  .menu-bar-container li{
    margin: 0.5rem;
  }
  .menu-bar-main li a{
    font-size: .7rem ;
  }
  .li-item-1 a{
    font-size: 1.2rem !important;
    padding: .8rem;
    border: none;
  }
}


